* {
  box-sizing: border-box;
}
body, html {
  background: linear-gradient(rgb(9, 255, 0), yellow);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 110vh;
}

header {
  background: rgb(3, 248, 187);
  position: relative;
  top: -25px;
  padding: 20px;
  padding-bottom: 2px;
  text-align: center;

}

div.container {
  width: 100%;
  text-align: center;
}

div.in-and-out {
    box-shadow: 2px 2px 2px 2px black;
    width: 50%;
    margin: 0 auto;
    
}
